body {
    font-family: 'Merriweather', serif;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro {
    text-align: center;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    width: 400px;
    max-width: 90%;
    animation: slideUp 2s;
}

@keyframes slideUp {
    0% {transform: translateY(50px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

.nome {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
}

.botao {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}

.botao:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}
